services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "12012:5432"
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres"]
      interval: 5s
      timeout: 30s
      retries: 50
    restart: unless-stopped
  backend:
    build:
      context: .
      dockerfile: Dockerfiles/service/Dockerfile
      target: development
    command: ["python", "-m", "fastapi_service"]
    env_file:
      - ./backend/.env.stage
    volumes:
      - backend_data:/data
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
      
    healthcheck:
      test: ["CMD", "nc", "-vz", "-w1", "localhost", "8000"]
      interval: 5s
      timeout: 20s
      retries: 100
    restart: unless-stopped

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - "redis_data:/bitnami/redis/data"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 30s
      retries: 50
    restart: unless-stopped
  minio:
    image: minio/minio:latest
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_admin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local
  minio_data: 
    driver: local
  backend_data:
    driver: local