services:
  postgres: 
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "12012:5432"
    volumes:
      - "./postgres_data:/var/lib/postgresql/data"
    healthcheck:
      test: [ "CMD" ,"pg_isready", "-d", "postgres" ]
      interval: 5s
      timeout: 30s
      retries: 50
    restart: unless-stopped
  web:
    build:
      context: .
      dockerfile: Dockerfiles/service/Dockerfile
      target: development
    command: [ "python"  , "-m", "fastapi_service" ]
    environment:
      DEBUG: 'True'
      SETTINGS_LOG_FILE: 'True'
    volumes:
      - "./fastapi_service:/src/fastapi_service"
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD" ,"nc", "-vz", "-w1", "localhost", "8000" ]
      interval: 5s
      timeout: 20s
      retries: 100
    restart: unless-stopped

  redis:
    image: redis:latest
    ports: 
       - "6379:6379"
    volumes:
      - "redis_data:/bitnami/redis/data"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 30s
      retries: 50
    restart: unless-stopped

volumes:
  redis_data:
    driver: local
  postgres_data: 
    driver: local